<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
		<link href="./css/bootstrap.min.css" rel="stylesheet" />
		<script type="text/javascript" src="./js/bootstrap.min.js" ></script>
    </head>
    <body>
	<div class="container">
	  <div class="row">
	  	<div class="col">
	      <a class="btn btn-primary" th:href="@{detail?kbn=1}" role="button">新規</a>
	  	</div>
	  </div>
	  <table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col"></th>
		      <th scope="col">名称</th>
		      <th scope="col">価格</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="p, status: ${productList}">
		      <th scope="row">[[${status.index + 1}]]</th>
		      <td>
     		    <a class="btn btn-dark" th:href="@{detail/{pathValue}?kbn=2(pathValue=${p.id})}" role="button">詳細</a>
     		    <a class="btn btn-dark" th:href="@{detail/{pathValue}?kbn=3(pathValue=${p.id})}" role="button">編集</a>
     		    <a class="btn btn-dark" th:href="@{detail/{pathValue}?kbn=4(pathValue=${p.id})}" role="button">削除</a>
		      </td>
		      <td>[[${p.name}]]</td>
		      <td>[[${p.price}]]</td>
		    </tr>
		  </tbody>
		</table>
	</div>
    </body>
</html>